
<div class="card mb-4 " >
   <div class="card-img-wrapper">
    <img   class="card-img-top" src="{{member.urlPhoto|| './assets/user.png'}}"  alt="..something wrong.">
       <ul class="list-inline member-icons animate text-center">
        <li class="list-inline-item">
        <button type="button" class="btn btn-primary me-2"  routerLink="details/{{member.userName}}"> <i class="fa fa-user"></i></button>
        <button type="button" class="btn btn-primary me-2" 
        (click)="addLike(member)"> <i class="fa fa-heart"></i></button>
        <button type="button" 
        class="btn btn-primary me-2"
        routerLink="details/{{member.userName}}"
        [queryParams]="{Tab:'Messages'}"
        > <i class="fa fa-envelope"></i></button>
        
      </li>


    </ul> 
   </div>
    
    <div class="card-body p-1">
      <h5 class="card-title text-center mb-1"> 
        <i class="fa fa-user me-2" ></i> 
        {{member.knownAs}}
        </h5>
      <p class="card-text text-muted text-center"> {{member.age}}</p>
      
    </div>
  </div>