

<div class="row" >

  <div class="col-4">
      <div class="card">

        <img   class="card-img-top img-thumbnail" src="{{member.urlPhoto|| './assets/user.png'}}" alt="wrong.">
        <div class="card-body">
          <div class="mb-2" *ngIf="(presenceService.onlineUsers$|async)?.includes(member.userName)">
            <i class="class fa fa-user-circle text-success"></i> online now
          </div>

          <h5 class="card-title">{{member.knownAs}}</h5>
    
           <strong> Age of </strong>
           <p>{{member.age}}</p>

           <strong> From  </strong>
           <p>{{member.country}}</p>

           <strong>Last active :</strong>
           <p>{{member.lastActive+'z' | timeago }}</p>

          <strong>member since :</strong>
           <p>{{member.cretaed | date:'dd MMM YYYY'}}</p>
       
        </div>

        <div class="card-footer">
         
          <div class="btn-group d-flex">
            <button type="button" class="btn btn-primary">  <i class="fa fa-heart me-2" style="color: red;"></i>Like</button>
            <button type="button" class="btn btn-success" (click)="selectTab('Messages')">  <i class="fa fa-envelope me-2"></i>Message</button>
            
          </div>
          
        </div>
        
          
        </div>
    
      </div>
    
  

  


  <div class="col-8">
    <tabset  class ="member-tabset" #memberTabs>
       <tab heading ="genarale Informations"  (selectTab)="onTabActivated($event)">
        <h4>Description</h4>
        <p>{{member.introduction}}</p>
        <h4>Looking For</h4>
        <p>{{member.lookingFor}}</p>
        <h4>center of interest</h4>
        <p>{{member.interests}}</p>
      </tab>
      <tab  heading ="Photos" #photo="tab" (selectTab)="onTabActivated($event)"> 
        <gallery  *ngIf="photo.active" [items]="images" class="gallery"></gallery>
      </tab>

      <tab  heading ="Messages" (selectTab)="onTabActivated($event)" >

        <app-member-messages [username]="username"  [messages]="messages"></app-member-messages>
       
      </tab>
    </tabset>
    
  </div>
  

  
</div>


