<div  class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>find your match </h1>
        <p class="lead">welcome all y need is sign in</p>
        <div calss="text-center" >
            <button (click)="registerToggle()" type="button" class="btn btn-primary btn-lg me-2">Register</button>
            <button type="button" class="btn btn-info btn-lg ">Learn more</button>
        </div>
    </div>
  
    <div *ngIf="registerMode" class="container">
       
           <app-register [usersfromhomecomponet]="users" (cancelRegister)="onCancel($event)" ></app-register>
       
    </div>
    
    
    
</div>
