<nav class="navbar navbar-expand-lg navbar-dark  bg-primary ">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
      
     
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          

          <ng-container  *ngIf="accountservice.currentUser$ | async" >
          <li class="nav-item">
            <a class="nav-link "  routerLink="/members" routerLinkActive="active">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link " routerLink="/messages" routerLinkActive="active" >messages</a>
          </li>

         
        </ng-container>
        <li class="nav-item">
          <a class="nav-link " routerLink="/errors" routerLinkActive="active" >errors</a>
        </li>

          
          
        </ul>

        <div  *ngIf="(accountservice.currentUser$|async)as user"  class="dropdown" dropdown>
          
          <img src="{{user.photoUrl || './assets/user.png'}}" class="img" alt="Image">
          
          <a class="dropdown-toggle text-light text-decoration-none " dropdownToggle> welcome {{user.knownAs | titlecase}}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item"  routerLink="/member/edit">Edit profil</a>
            <a class="dropdown-item" (click)="logout()">logout</a>
          </div>

        </div>
        <form  *ngIf=!(accountservice.currentUser$|async) #loginform ="ngForm"  class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input
          name="username" 
          [(ngModel)]="model.username"
          class="form-control me-2" type="text" placeholder="User Name" >
          <input 
          name="password" 
          [(ngModel)]="model.password"
          class="form-control me-2" type="password" placeholder="Password" >
          <button class="btn btn-success" type="submit">Login</button>
        </form>
     
    </div>
  </nav>